/*                  KLEUREN PALETTE                         
Blue de france                                          #3F8ADD
Air superiority blue                                    #6DA2C6
Olive Drab 7                                            #383A1B
Dark Slate Gray                                         #3F5B58
Charleston Green (ik vind t blauw)                      #252B2D
                    FONTS
font-family: 'Moon Dance', cursive;
font-family: 'Rajdhani', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Rajdhani&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rajdhani', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/snoetje-buiten-klein.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*      HEADER          */
.snoetje{
    color: #3F8ADD;
    text-shadow: white 1px 1px;
    font-family: 'Moon Dance', cursive;
    padding: 10px  0 0 20px;
    letter-spacing: 2px;
    font-size: 36px;
}
header{
    background: rgb(255,255,255,0.8);
    width: 100%;
}
        /* universele nav dingen */
header > .grote-nav > ul, .kleine-nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    /* kleine nav */
.more-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 0 0 ;
    color: #3F8ADD;
    font-weight: 700;
    cursor: pointer;
}
.kleine-nav-icon{
    width: 36px;
}
.kleine-nav{
    position: fixed;
    background: rgb(255,255,255,0.8);
    width: 100%;
    height: 80px
}
.kleine-nav > ul{
    justify-content: space-between;
}
    /* grote nav */
.grote-nav{
    display: none;
    height: 60px;
}
.grote-nav > ul{
    width: 100%;
    display:flex;
}
.grote-nav > ul > li{
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.grote-nav > ul > li > a{
    text-decoration: none;
    color:#3F8ADD;
    font-weight: 900;
    letter-spacing: 1px;

}
/*          OFF-CANVAS-NAV      */
.off-canvas-nav{
    border: 2px solid black;
    display: none;
    background: white;
    letter-spacing: 1px;
    padding: 100px;
    overflow: hidden;
    position: relative;
}
.nav-item{
    padding: 20px 0px;
}
.off-canvas-nav > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.off-canvas-nav > ul > li{
    list-style-type: none;
    width: 100%;
}
.off-canvas-nav > ul > li > a{
    color:#3F8ADD;
    text-decoration: none;
    font-weight: 900;
    font-size: 36px;
    cursor: pointer;
}
/*      MAIN CONTENT    */
.btn-style{
    border: white;
    background: #3F8ADD;
    width: 100px;
    height: 40px;
    border-radius: 0 10px 0 10px;
    color: white;
    font-weight:900;
    letter-spacing: 1px;
    cursor: pointer
}
.link{
    color:#3F8ADD;
}
main{
    padding: 150px 0px;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.white-box{
    background: rgb(255,255,255,0.8);
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 30px;
    font-family: 'Rajdhani', sans-serif;
    color:#3F8ADD;
    font-weight: 900;
    letter-spacing: 1px;
    width: 80%;
}
.text-box >  h1{
    border-top: 2px solid #3F8ADD;
    border-bottom: 2px solid #3F8ADD;
    margin-bottom: 20px;
}
.foto-box{
    min-height: 200px;
}
.foto-in-fotobox{
    width: 200px;
    border-radius: 5px;
}
.text-box{
    min-height: 200px;
    padding: 30px 0;
}
/*      menukaart       */
.menukaart > div > .text-box{
    width: 100%;
    justify-content: flex-start;
}
.menukaart > div > .text-box > ul{
    list-style: none;
}
.menukaart > div > .text-box > ul > li{
    padding: 10px 0px;
}
.menukaart > div > .text-box > ul > li > span{
    border-right: 1px solid #3F8ADD;
    padding: 0 3px;
}
.menukaart > div > .text-box > ul > li > h3{
    border-top: 2px solid #3F8ADD;
    border-bottom: 2px solid #3F8ADD;
    text-align: center;
}
/*      vacatures       */
.vacatures > div > section > h3, h4{
    padding: 4px 0px;
    font-weight: 900;
    font-size: 24px;
}
/*      contactformulier    */
.contact-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-formulier{
    background: rgb(255,255,255,0.8);
    height: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-formulier > input{
    height: 50px;
    width: 80%;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid #3F8ADD;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}
.contact-formulier > input:nth-child(1){
    margin-top: 50px;
}
.contact-formulier > textarea{
    height: 140px;
    width: 80%;
    margin: 5px 0;
    border-radius: 10px;
    border: 2px solid #3F8ADD;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}
/*                  RESERVEER FORMULIER     */
.reserveer-box{
    width: 80%;
}
.reserveer-formulier{
    background: rgb(255,255,255,0.8);
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reserveer-formulier > input{
    height: 50px;
    width: 80%;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid #3F8ADD;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}
.reserveer-formulier > textarea{
    height: 140px;
    width: 80%;
    margin: 5px 0;
    border-radius: 10px;
    border: 2px solid #3F8ADD;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}
.reserveer-formulier > input:nth-child(1){
    margin-top: 50px;
}
/*      FOOTER          */
.icon{
    width: 24px;
}
footer{
    background: white;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.footer1 > a{
    text-decoration: none;
    cursor: pointer;
}
.footer2{
    display: flex;
    flex-direction: column;
}
.footer2 > p > a{
    text-decoration: none;
}
.footer2 > p{
    color: #3F8ADD;
}


@media only screen and (max-width: 767px){
    /*  mobiel  */
    .menukaart> div:nth-child(even){
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 768px){
    /*  TABLET  */
    /*              HEADER              */
    body{
        background-image: url(img/snoetje-buiten.jpg);
    }
    .kleine-nav{
        display: none;
    }
    .grote-nav{
        display: block;
    }
    /*              MAIN                */

    /*              MENUKAART           */
    .menukaart> div{
        flex-direction: row;
    }
    .menukaart > div > .text-box{
        width: 50%;
    }
    .menukaart > div > .foto-box{
        width: 50%;
    }
    /*              CONTACTFORMULIER    */
    
    .contact-formulier{
        width: 50%;
    }
    /*              CONTACTFORMULIER    */
    .reserveer-box{
        width: 50%;
    }
    /*              Footer      */
    footer{
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    /*              whitebox                */
    .white-box{
        flex-direction: row;
    }
    .white-box > .text-box{
        width:50%;
    }
    .white-box > .foto-box{
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .foto-in-fotobox{
        width: 300px;
    }
}@media only screen and (min-width: 1200px){
    /*  LAPTOP  */
    .foto-in-fotobox{
        width: 400px;
    }
}
@media only screen and (min-width: 1918px){
    /*  DESKTOP */
    
}

/*              TODO:    
    -off canvas nav fixen dan voila finito

    overlay navigaties oefenen!!!!
*/